body{ 
    text-align: center;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    font-family: fantasy;  
}

h1{
    color:#7A7A7B;
    font-weight: bolder;
    font-size: 75px;
    

}

.container{
    color:#B8AEAF;
}

